.App {
	text-align: center;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
	flex-direction: column;
}

.App h1 {
	color: white;
	letter-spacing: 10px;
}
